{% extends "base.html" %}
{% block titulo %}Asociaciones contra el sida{% endblock %}
{% block contenido %}
  <h1>Asociaciones contra el sida</h1>
  <img src="../static/image/images.jpg" alt="">
  <p>Existen diversas organizaciones, asociaciones y redes a nivel mundial y local dedicadas a la prevención, atención, investigación y defensa de los derechos de las personas que viven con VIH/SIDA. 
Aquí se presentan las principales asociaciones mencionadas en los resultados de búsqueda:
Asociaciones Globales e Internacionales
[ONUSIDA (UNAIDS): El Programa Conjunto de las Naciones Unidas sobre el VIH/SIDA lidera y guía la respuesta mundial para lograr su meta de acabar con el sida para 2030.
[AHF (AIDS Healthcare Foundation): Ofrece medicina de vanguardia y defensa de los derechos a través de pruebas de VIH, programas de prevención y vinculación a tratamiento en comunidades de todo el mundo.
[Sociedad Internacional del SIDA (IAS): Es la asociación mundial independiente más grande de profesionales del VIH, dedicada a la investigación, prevención y tratamiento.
[Fondo Mundial: Alianza dedicada a derrotar el VIH, la tuberculosis y la malaria. 
UNAIDS
UNAIDS
 +3
Asociaciones y Organizaciones en Colombia
[CorpoSida (Corporación de Lucha Contra el Sida): Presta servicios especializados de promoción, prevención, diagnóstico y control del VIH/Sida y otras infecciones de transmisión sexual.
[Red Somos: Organización de base comunitaria que trabaja por el reconocimiento de la diversidad sexual y de géneros, la salud sexual y el fortalecimiento comunitario, incluyendo a personas que viven con VIH.
[AHF Colombia: Sede de la organización global dedicada a la prueba de VIH gratuita, confidencial y tratamiento.
[Ruta Integral de Atención (Hospital La María - Antioquia): Iniciativa que, en conjunto con EPS e instituciones locales, implementa atención integral de VIH</p>  
{% endblock %}