<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <nav>
        
    <a href="/index">Inicio</a>
    <a href="/prevencion">Prevención</a>
    <a href="/asociaciones">Asociaciones</a>
    <a href="/tratamiento">Tratamiento</a>
    <a href="/sintomas">Síntomas</a>

    </nav>
    {% block contenido %}
    {% endblock %}
</body>
</html>