{% extends "base.html" %}
{% block titulo %}Prevencion{% endblock %}
{% block contenido %}
    <h1>Prevencion</h1>
    <img src="../static/image/images.jpg" alt="">
    <p>Las precauciones principales para prevenir el VIH/SIDA incluyen el uso correcto y consistente de preservativos (látex) en relaciones sexuales, realizarse pruebas de detección periódicas, utilizar la profilaxis preexposición (PrEP) si se tiene alto riesgo, y evitar compartir agujas o jeringas. El tratamiento antirretroviral (TAR) en personas infectadas logra una carga viral indetectable, lo que evita la transmisión.
    </p>
{% endblock %}