{% extends "base.html" %}
{% block titulo %}Sintomas{% endblock %}
{% block contenido %} 
    <h1>Sintomas</h1>
    <img src="../static/image/images.jpg" alt="">
<p>Los síntomas del SIDA (fase avanzada del VIH) incluyen pérdida rápida de peso, fiebre recurrente, sudores nocturnos intensos, fatiga extrema, ganglios inflamados, diarrea prolongada, llagas en boca/genitales, neumonía y manchas en la piel. Estos síntomas ocurren cuando el sistema inmunitario está gravemente dañado. El VIH a menudo no muestra síntomas durante años, por lo que la prueba es la única forma de diagnóstico.</p>
{% endblock %}