{% extends "base.html" %}
{% block titulo %}Tratamientos{% endblock %}
{% block contenido %} 
    <h1>
        Tratamientos
    </h1>
    <img src="../static/image/images.jpg" alt="">
    <p>
        El tratamiento del VIH, conocido como Terapia Antirretroviral (TAR), consiste en tomar diariamente una combinación de medicamentos que suprimen la replicación del virus. Aunque no cura la infección, permite a las personas vivir una vida larga y saludable, fortalece el sistema inmunológico (linfocitos CD4+) y previene la transmisión del virus al reducir la carga viral a niveles indetectables. 
    </p>
{% endblock %}